/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.yw-password-setting {
  padding: 16px 40px 16px;
  overflow: auto;
  height: 100%; }
  .yw-password-setting-line {
    display: block;
    padding-bottom: 12px; }
    .yw-password-setting-line-title {
      font-size: 1.25rem;
      color: var(--bo-title-color); }
    .yw-password-setting-line-notice {
      color: var(--bo-tile-text-color);
      padding: 16px 0 18px 0; }
    .yw-password-setting-line-label {
      display: block;
      padding: 10px 0 8px 0;
      color: var(--bo-label-color); }
    .yw-password-setting-line-input {
      display: block;
      width: 60%; }
    .yw-password-setting-line-validation {
      width: 60%; }
  .yw-password-setting .yw-notification-message {
    width: 60%; }
