/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.yw-enumeration-action-popup {
  margin-top: 12px; }
  .yw-enumeration-action-popup:before, .yw-enumeration-action-popup:after {
    left: 12px; }
  .yw-enumeration-action-popup.z-window-popup .z-window-content {
    padding: 0; }
  .yw-enumeration-action-popup.z-window-popup .yw-enumeration-action-container .z-radiogroup .z-radio {
    padding-top: 8px;
    padding-bottom: 8px; }
.yw-enumeration-action-container .z-radiogroup {
  border-bottom: 1px solid var(--bo-list-border-color);
  border-top: 1px solid var(--bo-list-border-color);
  padding: 4px 16px;
  display: block; }
  .yw-enumeration-action-container .z-radiogroup:first-child {
    border-top: none; }
.yw-enumeration-action-container .z-radio {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px; }
.yw-enumeration-action-container > .z-button {
  margin: 8px 16px; }
.yw-enumeration-action-container .z-radiogroup:first-child,
.yw-enumeration-action-container .z-radiogroup + .z-radiogroup,
.yw-enumeration-action-container > .z-button:first-child,
.yw-enumeration-action-container > .z-button + .z-button {
  margin-top: 0; }
.yw-enumeration-action-menu-container ul {
  width: 100%; }
.yw-enumeration-action-menu-container .z-menu:hover {
  background: var(--bo-list-hover-background);
  color: var(--bo-list-text-color); }
.yw-enumeration-action-menu-container .z-menu-content {
  padding: 7px 15px 7px 7px;
  color: var(--bo-list-text-color);
  min-height: auto; }
  .yw-enumeration-action-menu-container .z-menu-content:hover {
    background: var(--bo-list-hover-background);
    color: var(--bo-list-text-color); }
  .yw-enumeration-action-menu-container .z-menu-content:active {
    background: var(--bo-list-active-background);
    color: var(--bo-list-active-text-color); }
.yw-enumeration-action-menu-container .z-menu-text {
  font-size: 14px; }
.yw-enumeration-action-menu-container .z-menu-icon {
  opacity: 0.7;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  color: inherit; }
.yw-enumeration-action-menu-popup {
  background-color: var(--bo-container-background);
  border: 1px solid var(--bo-list-border-color);
  box-shadow: var(--bo-content-shadow-large); }
  .yw-enumeration-action-menu-popup .z-menuitem {
    background-color: var(--bo-container-background); }
    .yw-enumeration-action-menu-popup .z-menuitem:hover, .yw-enumeration-action-menu-popup .z-menuitem-content:hover {
      background-color: var(--bo-list-hover-background); }
  .yw-enumeration-action-menu-popup .z-menuitem,
  .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content,
  .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content {
    color: var(--bo-list-text-color); }
    .yw-enumeration-action-menu-popup .z-menuitem:hover,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content:hover,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content:hover {
      background-color: var(--bo-list-hover-background); }
      .yw-enumeration-action-menu-popup .z-menuitem:hover,
      .yw-enumeration-action-menu-popup .z-menuitem:hover .z-menu-icon,
      .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content:hover,
      .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content:hover .z-menu-icon,
      .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content:hover,
      .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content:hover .z-menu-icon {
        color: var(--bo-list-text-color); }
  .yw-enumeration-action-menu-popup-menuitem {
    background-color: var(--bo-container-background);
    border-top: 1px solid var(--bo-list-border-color); }
    .yw-enumeration-action-menu-popup-menuitem:first-child {
      border-top-width: 0; }

.z-menu-selected > .z-menu-content, .z-menu-selected .z-menu-icon {
  color: var(--bo-list-text-color);
  background: var(--bo-list-selected-background); }
