@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



@import "../support/_adaptivesearchbackoffice_variables.scss";


/* Popups */
.yas-actions-popup.z-menupopup {
    border: $adaptiveSearchBackoffice__actions-popup--border;

    .yas-action {

        a.z-menuitem-content {

            img {
                top: $adaptiveSearchBackoffice__actions-popup-img--top;
                display: none;
            }
        }
    }
}

.yas-search-configuration-description {
    border: $adaptiveSearchBackoffice__search-configuration-description--border;
    padding: $adaptiveSearchBackoffice__search-configuration-description--padding;
}
