@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';




/*Icons for explorer tree */
div.yw-explorerTree .y-tree-icon {
@include setTreeIconGlyph("ruleengine", "split");
}

.yw-listview-cell-rule-status-icon {
    width: 20px;
    height: 20px;
}

.rule-status-icon-green-color {
    color: var(--bo-positive-color);
}

.rule-status-icon-yellow-color {
    color: var(--bo-critical-color);
}

.rule-status-icon-red-color {
    color: var(--bo-negative-color);
}
.yzul-rule-background {
	background: var(--bo-container-background);
}
