/* Status */
/* Button Color Scheme */
.yas-navigationcontext {
  padding: 0 24px;
  background-color: transparent; }
  .yas-navigationcontext-element {
    padding: 0 0 12px;
    margin: 0; }
    .yas-navigationcontext-element:first-child {
      padding-top: 8px; }
    .yas-navigationcontext-element .z-label {
      margin-bottom: 8px;
      display: inline-block; }
    .yas-navigationcontext-element .z-combobox-input,
    .yas-navigationcontext-element .z-div .z-bandbox-input {
      background: transparent; }
    .yas-navigationcontext-element .z-combobox-disabled,
    .yas-navigationcontext-element .z-bandbox-disabled {
      background: transparent !important;
      opacity: 0.8; }
    .yas-navigationcontext-element .z-combobox-disabled .z-combobox-input, .yas-navigationcontext-element .z-combobox-disabled .z-combobox-button, .yas-navigationcontext-element .z-combobox-disabled .z-combobox-icon,
    .yas-navigationcontext-element .z-bandbox-disabled .z-bandbox-input,
    .yas-navigationcontext-element .z-bandbox-disabled .z-bandbox-button,
    .yas-navigationcontext-element .z-bandbox-disabled .z-bandbox-icon {
      background: transparent !important; }
    .yas-navigationcontext-element .z-combobox-input {
      border-right-width: 1px; }
    .yas-navigationcontext-element .z-combobox-button,
    .yas-navigationcontext-element .z-div .z-bandbox-button {
      background: transparent;
      width: 38px; }
      .yas-navigationcontext-element .z-combobox-button .z-combobox-icon,
      .yas-navigationcontext-element .z-combobox-button .z-bandbox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button .z-combobox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button .z-bandbox-icon {
        width: 100%; }
      .yas-navigationcontext-element .z-combobox-button:hover .z-combobox-icon,
      .yas-navigationcontext-element .z-combobox-button:hover .z-bandbox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button:hover .z-combobox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button:hover .z-bandbox-icon {
        color: #0486e0; }
  .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body {
    background: transparent; }
    .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body .z-listitem {
      background: transparent; }
      .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body .z-listitem .ye-default-reference-editor-selected-item-container {
        background: transparent; }
