/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
div.yrb-promo-detailedDescription {
  color: var(--bo-title-color); }

/*============================================================================
    Messages help tables
============================================================================ */
table.promo-messageParams {
  padding-bottom: 24px; }
  table.promo-messageParams th,
  table.promo-messageParams td {
    border-bottom: 1px solid var(--bo-container-border-color);
    padding: 3px 5px 3px;
    color: var(--bo-list-text-color);
    background: var(--bo-list-background);
    text-align: left; }
  table.promo-messageParams th {
    background: var(--bo-list-table-header-background);
    border-bottom: 1px solid var(--bo-container-border-color);
    color: var(--bo-list-table-header-color); }

/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
/*============================================================================
    Promotions Tab
============================================================================ */
.yrb-potentialproductpromotions dl.promo-productInfo {
  border-right: 1px solid var(--bo-container-border-color);
  padding: 4px 6px 4px;
  float: left;
  width: 100%; }
  .yrb-potentialproductpromotions dl.promo-productInfo dt {
    width: 50%;
    float: left;
    clear: left; }
  .yrb-potentialproductpromotions dl.promo-productInfo dd {
    width: 49%;
    float: left;
    font-weight: bold;
    margin-left: 0; }
.yrb-potentialproductpromotions-listbox {
  margin-top: 2px; }

.yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-label {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  padding-right: 8px; }
  .yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-label:after {
    width: 50px;
    height: 100%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1; }
.yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .yw-expandCollapse {
  z-index: 0; }

.yrb-promo-productInfo-cell {
  width: 20%; }

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox.yrb-tabpanel-groupbox-promotions > .z-groupbox-content:empty {
  padding: 0 !important; }

/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-header .z-column-content {
  padding: 0 4px; }
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row td.z-row-inner {
  vertical-align: top; }
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-row-content > .z-label {
  display: inline; }
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row td.z-row-inner,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-cell,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-detial-outer {
  border-bottom: none;
  border-top: 1px solid var(--bo-container-border-color); }
.yrb-tabpanel-groupbox-promotions .yrb-label-break-all {
  word-break: break-all; }
.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-column {
  padding-bottom: 8px;
  padding-top: 8px; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-column-content {
    font-size: 14px;
    line-height: 16px;
    word-break: break-all;
    white-space: normal;
    vertical-align: top;
    word-break: break-word; }
.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail {
  width: 100%; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner {
    overflow: hidden; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-detail-content {
      border: 1px solid var(--bo-container-border-color);
      padding-left: 24px;
      border-left-width: 0; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer {
    width: 24px;
    padding: 0; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer .z-row {
      padding: 0; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer.z-detail-open {
      border-bottom: 1px solid var(--bo-container-border-color); }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-icon:before {
    content: "\f0da"; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-open .z-detail-icon:before {
    content: "\f0d7"; }
.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed tr.z-row:last-child .z-detail-inner .z-detail-content {
  margin-bottom: 0; }
.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--bo-container-color);
  padding: 12px 4px 0; }

.yzul-promo-background {
  background: var(--bo-container-background); }
