@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';
@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/scss/searchbackoffice-variables.scss';



/*Icons for explorer tree */
div.yw-explorerTree {
    .y-tree-icon-hmc_type_tree_snsearchprovider .y-tree-icon {
        font-family: 'SAP-icons';
        content: "\xe06e";
    }

    .y-tree-icon-hmc_type_tree_snsearchprovider .y-tree-icon {
        font-family: 'SAP-icons';
        content: "\xe242";
    }

    .y-tree-icon-hmc_type_tree_snsearchprovider .y-tree-icon {
        font-family: 'SAP-icons';
        content: "\xe260";
    }

    .y-tree-icon-hmc_type_tree_snsearchprovider .y-tree-icon {
        font-family: 'SAP-icons';
        content: "\xe260";
    }

}
