@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wadmin/Documents/cloud-commerce-sample-setup-update-2211/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';


$userprofile__toolbar-btn-img--height: 28px;
$userprofile__container--width: 168px;
$userprofile__container-label--font-size: $font-size__h4;
$userprofile__container-label--margin: 8px 0px 16px 16px;
$userprofile__icon-color: var(--bo-content-label-color);
